.idea/
data/
demo/baseline_extraction_output/
demo/cbad_complex_model/
dh_segment/__pycache__/
dh_segment/inference/__pycache__/
dh_segment/io/__pycache__/
dh_segment/network/__pycache__/
dh_segment/post_processing/__pycache__/
dh_segment/utils/__pycache__/
exps/__pycache__/
exps/cbad/__pycache__/
pretrained_models/resnet_v1_50.ckpt
